<span class="social-media">
	{% if site.github_username %}
		<a href="https://github.com/{{ site.github_username }}">
		 <img src="/assets/images/github-logo.png"> GitHub
		</a>
	{% endif %}
	{% if site.linkedin_username %}
		<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
		  <img src="/assets/images/linkedin-logo.png"> LinkedIn
		</a>
	{% endif %}
	{% if site.mastodon_username %}
		<a href="https://{{ site.mastodon_domain }}/@{{ site.mastodon_username }}">
		  <img src="/assets/images/mastodon-logo.png"> Mastodon
		</a>
	{% endif %}
	{% if site.twitter_username %}
		<a href="https://twitter.com/{{ site.twitter_username }}">
		  <img src="/assets/images/twitter-logo.png"> Twitter
		</a>
	{% endif %}
	{% if site.tumblr_username %}
		<a href="https://{{ site.twitter_username }}.tumblr.com/">
		  <img src="/assets/images/tumblr-logo.png"> Tumblr
		</a>
	{% endif %}
</span>
