<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }} | {{ site.title}}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
	</head>
	<body>
		{% include header.html %}
		<section class="main">
			<section class="column left">
				<!-- empty p tags to force CSS to use columns -->
				<section class="content">
					<p></p>
				</section>
			</section>
			<section class="column middle">
				<section class="content">
					{{ content }}
				</section>
			</section>
			<section class="column right">
				<section class="content">
					<p></p>
				</section>
			</section>
		</section>
		{% include footer.html %}
	</body>
</html>
